/*!
Theme Name: carteblanche
Theme URI: http://underscores.me/
Author: Milan Thapa
Author URI: https://www.linkedin.com/in/thapamilan/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: carteblanche
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

carteblanche is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
    --------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 @import url(//fast.fonts.net/cssapi/7bbf29e1-cf21-42ee-9a3b-3f637f429efa.css);

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */

/**
 * Remove the margin in all browsers.
 */

 body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

 h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

 hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

 pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */

/**
 * Remove the gray background on active links in IE 10
 */

 a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

 abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

 b,
 strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

 code,
 kbd,
 samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

 small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

 sub,
 sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

 img {
    border-style: none;
}

/* Forms
========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

 button,
 input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

 button,
 select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

 fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

 legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

 progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

 textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

 [type="checkbox"],
 [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

 [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

 [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

 ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

 details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

 summary {
    display: list-item;
}

/* Misc
========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

 template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

 [hidden] {
    display: none;
}

body {

    font-family: "Trade Gothic Next LT W01 Cond", "Helvetica", sans-serif;

    color: #333333;

    font-size: 17px;

}

.carousel-fade .carousel-item {

    opacity: 0;

    transition-duration: .6s;

    transition-property: opacity;

}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {

    opacity: 1;

}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {

    opacity: 0;

}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {

    transform: translateX(0);

    transform: translate3d(0, 0, 0);

}

a {

    color: #212529;

}

a:hover, a:focus {

    color: #000;

}

.contact-no p a:hover{
    background-color: #E77813;
    color: #fff;
}

.app-header {

    padding: 25px 0px;

    position: fixed;

    width: 100%;

    z-index: 3;

    top: 0px;

    background-color: #fff;

}

.app-header .logo {

    position: absolute;

    left: 30px;

    top: 4px;

}

.logo-wrapper img {

    width: 150px;
    height: auto;
    max-width: 100%;

}

.app-nav {

    float: right;

    padding-right: 110px;

}

.navbar-light .navbar-custom-nav .nav-link {

    text-transform: uppercase;

    font-size: 17px;

    color: #212529;

}

.navbar-custom-nav .dropdown-menu {

    border-width: 0px;

    min-width: 3rem;

}

.navbar-custom-nav .dropdown-item {

    text-transform: uppercase;

    font-size: 14px;

    padding-left: 30px;

    padding-right: 40px;

    position: relative;

}

.navbar-custom-nav .dropdown-item:before {

    background-image: url('images/shape-diamond-bulletpoint.svg');

    background-position: center center;

    background-repeat: no-repeat;

    background-size: contain;

    content: "";

    color: #212529;

    position: absolute;

    left: 10px;

    top: 10px;

    width: 10px;

    height: 10px;

    display: inline-block;

}

.navbar-custom-nav .dropdown-item:hover, .navbar-custom-nav .dropdown-item:focus {

    background-color: #fff;

    color: #000;

}

.language-switcher {

    margin-left: 10px;

    position: absolute;

    top: 49px;

    right: 0;

}

.language-switcher ul {

    margin: 0;

    padding: 0;

    margin-bottom: 4px;

}

.language-list .language-list-item {

    float: left;

    border-right: 1px solid #999;

    padding-right: 20px;

    margin-right: 20px;

    line-height: 10px;

}

.language-list .language-list-item:last-child {

    border-right-width: 0px;

    padding-left: 0px;

    margin-right: 0px;

}

.language-list-item.active {

    font-weight: 600;

}

.featured-text {
    position: relative;
    height: 80vh;

}

.banner-content-h {

    position: absolute;

    right: 0;

    top: 15vh;

    height: 100vh;

    overflow: hidden;

}

.banner-content-h p {

    font-size: 18px;

}

.custom-breadcrumb-heading {

    margin-bottom: 20px;

}

.custom-breadcrumb-heading .custom-breadcrumb-heading-title {

    font-size: 16px;

    font-weight: bold;

    text-transform: uppercase;

}

.common-heading {

    margin-bottom: 30px;

}

.common-heading .common-heading-title {

    font-size: 35px;

    font-family: "Times New Roman";

    font-weight: bold;

}

.featured-text-information {
    position: relative;
    text-align: right;
    padding: 30px 50px 26px 30px;
    margin-top: 38px;
    margin-bottom: 10px;
}

/*.featured-text-information:before {*/

    /*content: "";*/

    /*background: no-repeat 0px 0px/contain url('images/shape-heart-double.svg');*/

    /*opacity: 0.5;*/

    /*top: 0;*/

    /*left: auto;*/

    /*bottom: 0;*/

    /*right: 20px;*/

    /*position: absolute;*/

    /*z-index: 0;*/

    /*width: 25vw;*/

    /*}*/

    /*============================================================*/
    .heart-shape-double {
        top: 180px;
    }

    .heart-shape-double img {
        width: 350px;
        padding-left: 50px;
    }

    .featured-text-information .title-heading {
        font-size: 85px;
        color: #121212;
        text-transform: uppercase;
        font-weight: 600;
        text-align: left;
        line-height: 81px;
        letter-spacing: 7px;
    }

    .featured-text-information p {
        width: 70%;
        text-align: left;
    }

    .featured-text-information {
        position: relative;
        text-align: right;
        padding: 30px 50px 26px 30px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .featured-text:before {
        content: "";
        background: no-repeat 0px 0px/contain url('images/shape-diamond-image.png');
        opacity: 0.95;
        top: 80px;
        left: auto;
        bottom: 0;
        right: 0px;
        position: absolute;
        z-index: 0;
        width: 22vw;
    }


    /*============================================================*/


    /*.featured-text-information-image {*/

        /*position: absolute;*/

        /*right: -90px;*/

        /*top: 0px;*/

        /*}*/

        /*.featured-text-information .title-heading {*/

            /*font-size: 5vw;*/

            /*text-transform: uppercase;*/

            /*font-weight: 600;*/

            /*text-align: right;*/

            /*line-height: 5vw;*/

            /*}*/

            .intro {

                position: relative;

                padding-top: 75px;

                padding-bottom: 90px;

            }

            .intro:before {

                content: "";

                background: no-repeat 0px 0px/contain url('images/shape-heart-double.svg');

                opacity: 0.5;

                top: 110px;

                right: auto;

                bottom: 0;

                left: 15px;

                position: absolute;

                z-index: -1;

                width: 395px;

            }

            .intro-carousel {

                -webkit-box-shadow: 10px 13px 18px 0px rgba(51, 51, 51, 0.15);

                -moz-box-shadow: 10px 13px 18px 0px rgba(51, 51, 51, 0.15);

                box-shadow: 10px 13px 18px 0px rgba(51, 51, 51, 0.15);

                margin-top: -50px;

                -webkit-border-radius: 10%;
                -moz-border-radius: 10%;
                border-radius: 10%;

            }

            .intro-carousel-controls {

                padding: 15px;

            }

            .intro-carousel-controls-inner {

                float: right;

                font-size: 16px;

            }

            .intro-floating-image {

                position: absolute;

                top: 60px;

                left: 0px;

                z-index: 1;

            }

            .slider {

                margin-bottom: 20px;

            }

            .showcase-slider {

                padding-top: 15px;

                padding-bottom: 15px;

            }

            .showcase-slider-caption {

                position: absolute;

                top: 0px;

                color: #fff;

                padding: 15px;

                left: 0px;

                height: 100%;

                width: 225px;

                background-color: rgba(0, 0, 0, 0.5);

                overflow: scroll;

            }

            /* width */

            .showcase-slider-caption::-webkit-scrollbar {

                width: 10px;

                height: 0;

            }

            /* Handle */

            .showcase-slider-caption::-webkit-scrollbar-thumb {

                background: #00000099;

                border-radius: 10px;

            }

            .showcase-slider-caption h3 {

                font-family: "Times New Roman";

                font-size: 22px;

                text-transform: uppercase;

                margin-top: 10px;

            }

            .showcase-slider-caption em {

                text-transform: uppercase;

                color: #a0a0a0;

                font-size: 13px;

            }

            .showcase-slider-caption p {

                font-size: 12px;

                color: #e6e6e6;

            }

            .showcase-slider-caption .list-bulleted {

                color: #e6e6e6;

            }

            .showcase-slider-caption .view-details {

                color: #fff;

                font-size: 15px;

                font-weight: 500;

                text-transform: uppercase;

            }

            .showcase-slider-caption .list-bulleted li {

                margin-bottom: 8px;

                font-size: 12px;

                line-height: 14px;

                text-transform: uppercase;

                list-style-type: none;

                position: relative;

                padding-left: 20px;

            }

            .showcase-slider-caption .list-bulleted li:before {

                content: '';

                width: 9px;

                height: 9px;

                position: absolute;

                left: 0px;

                top: 5px;

                border: 1px solid #e6e6e6;

                -webkit-transform: rotate(45deg);

                -moz-transform: rotate(45deg);

                -ms-transform: rotate(45deg);

                -o-transform: rotate(45deg);

                transform: rotate(45deg);

            }

            .showcase-slider-item figure {

                margin-bottom: 0px;

            }

            /*.showcase-slider:before {*/

                /*position: absolute;*/

                /*content: "";*/

                /*width: 50%;*/

                /*height: 38px;*/

                /*background: no-repeat 0px 0px/cover url('images/drop-shadow-png-11.png');*/

                /*bottom: 0px;*/

                /*left: 25%;*/

                /*right: auto;*/

                /*}*/

                .owl-rooftop {
                    margin-top: 85px;
                }

                .owl-rooftop .carousel-inner {
                    height: 450px;
                }

                .owl-carousel.showcase-slider .owl-nav .owl-prev, .owl-carousel.showcase-slider .owl-nav .owl-next {

                    position: absolute;

                    top: 50%;

                    -webkit-transform: translateY(-50%);

                    -moz-transform: translateY(-50%);

                    -ms-transform: translateY(-50%);

                    -o-transform: translateY(-50%);

                    transform: translateY(-50%);

                    padding: 10px 15px !important;

                    background-color: #fff;

                }

                .showcase-slider .owl-nav .owl-next {

                    right: 0px;

                }

                .showcase-slider .owl-nav .owl-prev {

                    left: 0px;

                }

                .showcase-slider .owl-nav .owl-next:hover, .showcase-slider .owl-nav .owl-next:focus,
                .showcase-slider .owl-nav .owl-prev:hover, .showcase-slider .owl-nav .owl-prev:focus {

                    outline: none;

                }

                .custom-carousel-caption.carousel-caption {

                    right: 100px;

                    top: 90px;

                    left: auto;

                    bottom: auto;

                }

                .custom-carousel-caption-wrapper {

                    color: #333;

                    position: relative;

                    height: 210px;

                    width: 220px;

                    padding: 30px;

                    text-transform: uppercase;

                    font-size: 13px;

                }

                .custom-carousel-caption-wrapper:before {

                    width: 180px;

                    height: 180px;

                    position: absolute;

                    right: 20px;

                    top: 0px;

                    z-index: -1;

                    content: "";

                    background-color: #fff;

                    -webkit-transform: rotate(45deg);

                    transform: rotate(45deg);

                    text-align: center;

                }

                .custom-carousel-caption-img {

                    width: 80px;

                }

                .custom-carousel-title {

                    margin-top: 10px;

                }

                .custom-carousel .carousel-inner {

                    height: 405px;

                }

                .custom-carousel {

                    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

                }

                .custom-carousel .custom-carousel-control {

                    position: absolute;

                    top: 50%;

                    -webkit-transform: translateY(-50%);

                    -moz-transform: translateY(-50%);

                    -ms-transform: translateY(-50%);

                    -o-transform: translateY(-50%);

                    transform: translateY(-50%);

                }

                .custom-carousel .custom-carousel-control-next {

                    right: 30px;

                }

                .custom-carousel .custom-carousel-control-prev {

                    left: 30px;

                }

                .custom-carousel .custom-carousel-control .carousel-control-prev-icon {

                    background-image: url('images/slider-arrow-prev.svg');

                }

                .custom-carousel .custom-carousel-control .carousel-control-prev-icon, .custom-carousel .custom-carousel-control .carousel-control-next-icon {

                    width: 27px;

                    height: 40px;

                }

                .custom-carousel .custom-carousel-control .carousel-control-next-icon {

                    background-image: url('images/slider-arrow-next.svg');

                }

                .app-features {

                    padding-top: 45px;

                    padding-bottom: 45px;

                }

                .app-features-list {

                    padding-left: 0px;
                    margin-bottom: 50px;

                }

                .app-features-list-item {

                    margin-bottom: 1rem;

                    font-size: 15px;

                    line-height: 20px;

                    text-transform: uppercase;

                    list-style-type: none;

                    position: relative;

                    padding-left: 30px;

                }

                .app-features-list-item:last-child {

                    margin-bottom: 0px;

                }

                .bordered-features-list .app-features-list-item {

                    border-bottom: 1px solid #eee;

                    padding-bottom: 1rem;

                }

                .bordered-features-list .app-features-list-item:last-child {

                    border-bottom-width: 0px;

                    padding-bottom: 0px;

                }

                .app-features-list-item:before {

                    content: '';

                    width: 11px;

                    height: 11px;

                    position: absolute;

                    left: 0px;

                    top: 5px;

                    border: 1px solid #333;

                    -webkit-transform: rotate(45deg);

                    -moz-transform: rotate(45deg);

                    -ms-transform: rotate(45deg);

                    -o-transform: rotate(45deg);

                    transform: rotate(45deg);

                }

                .app-features-top-image {

                }

                .app-features-top-image img {

                    height: 415px;

                }

                .feature-top-section {

                    margin-bottom: 30px;

                }

                .app-features-bottom-image {
                    text-align: center;
                }

                .app-features-bottom-image-wrapper {
                    position: relative;
                    margin-bottom: -60px;
                }

                .feature-bottom-section {

                    position: relative;

                }

                .feature-bottom-section:before {

                    content: "";

                    background: no-repeat 0px 0px/contain url('images/shape-heart-double.svg');

                    opacity: 0.5;

                    top: 35%;

                    left: 25%;

                    bottom: 0;

                    right: 10px;

                    position: absolute;

                    z-index: -1;

                    width: 350px;

                }

                .app-footer {

                    padding-top: 60px;

                    padding-bottom: 15px;

                    background-color: #fbf1f1;

                    text-align: center;

                }

                .footer-nav-list {

                    display: inline-block;

                }

                .footer-nav-item a {

                    font-size: 16px;

                    display: inline-block;

                    text-transform: uppercase;

                    margin-right: 30px;

                }

                .footer-nav-item:last-child {

                    margin-right: 0px;

                }

                .footer-nav-list .footer-nav-item {

                    float: left;

                }

                .footer-intro h4 {

                    text-transform: uppercase;

                    font-weight: 600;

                    letter-spacing: 5px;

                    word-spacing: 15px;

                    margin-bottom: 45px;

                }

                .footer-intro .company-title {

                    font-size: 16px;

                }

                .footer-intro .brand-img {

                    margin-top: 15px;

                    margin-bottom: 45px;

                }

                .brand-img img {
                    text-align: center;
                    width: 73%;
                    margin-top: 58px;
                }

                .footer-intro .company-info {

                    font-size: 16px;

                    margin-bottom: 25px;

                }

                .footer-intro .company-logo {

                    margin-bottom: 45px;

                }

                .hidden-img-b {

                    display: none;

                }

                /* ============= Film page Css =========== */
/*.embed-container {
    position: initial;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }*/

    .embed-container {
        margin-top: 60px;
        padding: 60px 0px;
    }

    .embed-container iframe {
        height: 500px;
    }

    @media (max-width: 768px) {
        .embed-container iframe {
            height: 300px;
        }
    }


    /* ============= Rooftop css =========== */
    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }

    .owl-rooftop .owl-carousel {
        display: block;
        width: 100%;
        -webkit-tap-highlight-color: transparent;
        position: relative;
        z-index: 1;
    }

    .owl-rooftop .carousel-control-prev-icon, .owl-rooftop .carousel-control-next-icon {
        width: 28px;
        height: 28px;
    }

    .carousel-caption img {
        margin-bottom: 10px;
    }

    .owl-rooftop .carousel-caption {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 74% !important;
        top: 100px;
        padding-top: 10px;
        z-index: 3;
        text-align: center;
        color: #454545;
        font-size: 12px;
    }

    .slide__square {
        width: 200px;
        height: 200px;
        position: absolute;
        right: 150px;
        top: 80px;
        background-color: #fff;
        z-index: 2;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        text-align: center;
    }

    #rooftop-desc {
        padding: 1px 0;
    }

    .rooftop-header {
    }

/* #rooftop-desc:after {
    content: "";
    background-image: no-repeat 0px 0px/contain url(../images/card_symbols.png);
    opacity: 0.5;
    top: 110px;
    right: auto;
    bottom: 0;
    left: 15px;
    position: absolute;
    z-index: -1;
    width: 395px;
    } */
    .rooftop-header h1 {
        font-size: 65px;
        letter-spacing: 28px;
        font-weight: bold;
        padding-right: 25px;
        margin-bottom: 15px;
    }

    .section__vertical {
        position: absolute;
        top: 20px;
        right: 0;
        -webkit-transform-origin: top right;
        transform-origin: top right;
        -webkit-transform: rotate(90deg) translate(100%, 100%);
        transform: rotate(90deg) translate(100%, 100%);
        font-family: "Trade Gothic Next LT W01 Bd Cn", "Helvetica", sans-serif;
        font-size: 1.5rem;
        letter-spacing: .5rem;
        text-transform: uppercase;
        color: #ef8b8f;
    }

    .rooftop_image {
        padding: 0px 52px;
        margin-top: -126px;
    }

    .section__text {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .rooftop-header:before {
        content: "";
        background: no-repeat 0px 0px/contain url('images/card_symbols.png');
        opacity: 0.5;
        top: 0px;
        right: auto;
        bottom: 0;
        right: 0px;
        position: absolute;
        z-index: -1;
        width: 395px;
    }

    .rooftop_image img {
        width: 100%;
    }

    .section__text p {
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 1.1px;
        text-align: justify;
    }

    /*================= Float Right ============*/

    /* Floating Social Media Bar Style Starts Here */

    .float-right-icon .fl-fl {
        background: #ff686e;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 4px;
        width: 273px;
        position: fixed;
        right: -230px;
        z-index: 1000;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;

    }

    .float-right-icon .fa {
        font-size: 20px;
        color: #fff;
        padding: 10px 0;
        width: 30px;
        margin-left: 11px;
    }

    .float-right-icon .fl-fl:hover {
        right: 0;
    }

    .float-right-icon .fl-fl a {
        color: #fff !important;
        text-decoration: none;
        text-align: center;
        line-height: 43px !important;
        vertical-align: top !important;
        font-size: 12px;
    }

    .float-right-icon .float-fb {
        top: 250px;
    }

    .float-right-icon .float-tw {
        top: 305px;
    }

    .float-right-icon .float-gp {
        top: 360px;
    }

    .float-right-icon .float-rs {
        top: 415px;
    }

    .float-right-icon .float-ig {
        top: 500px;
    }

    /* Floating Social Media Bar Style Ends Here */

    /* sidenavi wrapper */
    #sideNavi,
    .side-navi-item,
    .side-navi-data,
    .side-navi-tab {
        margin: 0;
        padding: 0;
    }

    #sideNavi {
        position: fixed;
        right: 0px;
        top: 0;
        z-index: 9999999;
    }

    /* items */
    .side-navi-item-default {
        display: none;
    }

    .side-navi-item {
        position: absolute;
        left: 0px;
        display: none;
        width: 360px;
        height: 40px;
        transform: rotate(90deg);
        transform-origin: left top 0;
        color: #fff;
        text-transform: uppercase;
        border-radius: 2px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .side-navi-item.item1 {
        top: 430px;
    }

    .side-navi-item.item2 {
        top: 355px;
    }

    .side-navi-item.active,
    /* .side-navi-item:hover {  background-color: #e5e5e5; color: #000;  } */
    .side-navi-item > div {
        text-align: center;
        line-height: 40px;
    }

    /* data wrapper */
    .side-navi-data {
        position: absolute;
        top: 103px;
        width: 340px;
        background-color: #fbf1f1;
        padding: 20px;
    /*     height: 450px;
    */
}

/* tab wrapper */
.side-navi-tab {
    display: none;
}

.side-navi-tab.active {
    display: inline-block;
}

.side-navi-tab > div {
}

@media (min-width: 400px) {
    .side-navi-item.item1 {
        top: 130px;
    }
}

.stickey-social a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.stickey-social li {
    color: #fff;
}
.stickey-social .me {
    width: 400px;
    margin: 90px auto;
}

.stickey-social .me p,
.stickey-social .me h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.stickey-social .me p {
    font-weight: 200;
}

.stickey-social .me span {
    font-weight: bold;
}

.social {
    position: fixed;
    top: 235px;
    width: 62px;
    z-index: 10;
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}

.social ul li {
    display: block;
    margin: 5px 5px 5px 10px;
    background: #ef7b11;
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border: 1px solid #ef7b11;
}

.social ul li:hover:nth-child(1),
.social ul li:hover:nth-child(2) {
    -webkit-transform: translate(170px, 0);
    -moz-transform: translate(170px, 0);
    -ms-transform: translate(170px, 0);
    -o-transform: translate(170px, 0);
    transform: translate(170px, 0);
    background: #ef7b11;
}

.social ul li:hover:nth-child(3) {
    -webkit-transform: translate(200px, 0);
    -moz-transform: translate(200px, 0);
    -ms-transform: translate(200px, 0);
    -o-transform: translate(200px, 0);
    transform: translate(200px, 0);
    background: #ef7b11;
}

.social ul li:hover a {
    color: #fff !important;
}

.social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    padding: 5px;
}

.social ul li i {
    margin-left: 7px;
    color: #000;
    background: #fff;
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 15px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.social .fa-facebook {
    padding: 7px;
}

.cancel-enq img {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-top: -35px;
}

/* =========== concierge page Css ============ */
.small-slide-font {
    font-size: 13px;
}

.concierge-image {
    padding: 0px 25px;
    margin-top: 0px !important;
}

.rooftop-header-conc h1 {
    font-size: 45px;
    letter-spacing: 15px;
    font-weight: bold;
    margin-bottom: 55px;
    text-align: center;
    margin-top: 55px;
    line-height: 60px;
    padding: 14% 14% 0 14%;
}

.app-features-list-itemr {
    margin-bottom: 1rem;
    font-size: 14px;
    text-transform: uppercase;
    list-style-type: none;
    position: relative;
    padding-left: 30px;
    line-height: 25px;
}

.app-features-list-itemr:before {
    content: '';
    width: 11px;
    height: 11px;
    position: absolute;
    left: 0px;
    top: 8px;
    border: 1px solid #e86d72;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.left-conc ul {
    background-color: #fbf1f1;
    padding: 40px 30px 25px 30px;
}

.app-features-bottom-image-heart img {
    width: 100%;
}

.app-features-bottom-image-heart {
    margin-top: -70px;
}

/* ============= Kontact Page Css =============== */
.kontact-form {
    margin-top: 95px;
    background-color: #fbf1f1;
    padding: 60px 0px;
}

.rooftop-header-conc h1 {
    font-size: 36px;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 55px;
    text-align: center;
    margin-top: 0px;
    line-height: 55px;
}

.contact-form {
    background: #fff;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.contact-form input, .contact-form textarea, .contact-form select {
    border: 1px solid #787878 !important;
}

.contact-form .form-control {
    border-radius: 0rem;
}

textarea.form-control {
    width: 100%;
    height: 200px;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 0 14% 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    padding: 12px;
    border-radius: 5px;
    background: #ef7b11;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.center-butn input {
    border: 0px !important;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.center-butn {
    text-align: center;
    margin-top: 20px;
}

/* ========== Lage Page Css =========== */
.lage-banner img {
    width: 100%;
    padding-top: 105px;
}

.lage-content {
    padding: 60px 0px;
}

.location__col__head {
    text-align: center;
    letter-spacing: .5rem;
    margin-bottom: 1.5rem;
}

.location__col__head img {
    width: 20%;
    margin-bottom: 5px;
}

.lage-header h1 {
    font-size: 55px;
    letter-spacing: 28px;
    font-weight: bold;
    margin-bottom: 55px;
    text-align: left;
    padding-left: 50px;
}

.lage-header1 h1 {
    font-size: 36px;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 50px;
    text-align: left;
    line-height: 52px;
}

.right-lage-hand {
    float: right;
}

.right-lage-hand img {
    width: 100%;
    float: right;
    margin-top: -420px;
    margin-right: 0;
    padding-bottom: 60px;
}

#google-container {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #e7eaf0;
}

@media only screen and (min-width: 768px) {
    #google-container {
        height: 300px;
    }
}

@media only screen and (min-width: 1170px) {
    #google-container {
        height: 600px;
    }
}

#cd-google-map {
    position: relative;
    padding-bottom: 60px;
}

#cd-google-map address {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: rgba(211, 104, 104, 0.9);
    color: #ffffff;
    font-size: 13px;
    font-size: 0.8125rem;
}

@media only screen and (min-width: 768px) {
    #cd-google-map address {
        font-size: 15px;
        font-size: 0.9375rem;
        text-align: center;
    }
}

#cd-zoom-in, #cd-zoom-out {
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgba(211, 104, 104, 0.9);
    background-repeat: no-repeat;
    background-size: 32px 64px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg");
}

.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
    background-color: #d36868;
}

@media only screen and (min-width: 768px) {
    #cd-zoom-in, #cd-zoom-out {
        margin-left: 50px;
    }
}

#cd-zoom-in {
    background-position: 50% 0;
    margin-top: 10px;
    margin-bottom: 1px;
}

@media only screen and (min-width: 768px) {
    #cd-zoom-in {
        margin-top: 50px;
    }
}

#cd-zoom-out {
    background-position: 50% -32px;
}

/* ============= Color Cards ==========*/
.location__list__headline {
    font-family: Businessland W00 Regular;
    letter-spacing: 1.3px;
    margin-bottom: 1.5rem;
    z-index: 5;
    font-size: 22px;
}

.location__list__elem {
    display: block;
    width: 100%;
    z-index: 5;
}

.location__container--accent {
    padding: 4rem 0;
    background-color: #fbf1f1;
}

.location__list .list__img--green {
    top: 120px;
    left: 340px;
}

.location__list .list__img {
    position: absolute;
    max-width: 60px;
    height: auto;
    z-index: 1;
}

.location__list__elem__key--green {
    background-color: #898d29;
}

.location__list__elem__key {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.location__list__elem__value {
    letter-spacing: .2rem;
    margin-bottom: 1.3rem;
    padding-left: 15px;
    display: block;
    float: left;
    font-size: 13px;
    width: calc(100% - 35px);
}

.location__list__elem__key--red {
    background-color: #c80016;
}

.location__list__elem__key--blue {
    background-color: #8db6b9;
}

.location__list__elem__key--black {
    background-color: #000;
}

.location__list .list__img--red {
    top: 30%;
    right: 20px;
}

.location__list .list__img {
    position: absolute;
    max-width: 60px;
    height: auto;
    z-index: 1;
}

.location__list .list__img--blue {
    right: 50px;
    top: 150px;
}

.location__list .list__img--black {
    right: 40px;
    bottom: 25%;
}

.location__headline__spacer {
    margin: 5rem 0;
}

.location__stylized__map {
    width: 100%;
    background-image: url('images/location-graph.svg');
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #fbf1f1;
}

.location__stylized__map:after {
    padding-bottom: 83%;
    display: block;
    content: "";
}

.section__headline h1 {
    font-size: 65px;
    letter-spacing: 28px;
    font-weight: bold;
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;
}

.location__best__hand {
    margin: 5rem 0;
    width: 100%;
    background-image: url('images/hand-image-location2.png');
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.location__best__hand:after {
    padding-bottom: 72%;
    display: block;
    content: "";
}

.location__transport__list__wrapper {
    margin-bottom: 100px;
    position: relative;
}

.location__transport__list__hand {
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 30%;
    height: auto;
}

.location__transport__image {
    height: 1.2rem;
    width: auto;
    padding: 0 .5rem;
}

.location__transport__image--drive {
    height: .8rem;
}

.location__transport__image {
    height: 1.2rem;
    width: 52px;
    padding: 0 .5rem;
}

.location__transport__list__elem {
    font-size: 13px;
}

/*============ Configuarator Details CSS ============*/

.configuarator iframe {
    width: 100% !important;
    height: 126vh !important;
    margin-top: 100px;
}

.configuarator body {
    margin-bottom: 0 !important;
}

/*============== Filter Page Css =========== */
.filter-search {
    margin-bottom: 20px;
    float: left;
}

.filter-flat {
    padding: 60px 0px;
    background-color: #f5f5f5;
}

.filter-flat table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.filter-flat th, .filter-flat td {
    text-align: left;
    padding: 8px;
}

.filter-table {
    padding: 30px 15px;
    background-color: #fff;
    margin-top: 15px;
}

.filter-flat tr:nth-child(even) {
}

.header-flat {
    border-bottom: 1px solid #232323;
}

.content-flat {
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}

.no-flat {
    color: #e86d72;
    font-weight: bolder;
    padding-top: 25px !important;
}

.content-flat img {
    width: 16px;
    margin-right: 10px;
}

.filter-flat .dropdown ul {
    width: 100%;
    padding-bottom: 0px;
}

.filter-flat .dropdown ul li {
    border-bottom: 1px solid #dedede;
    line-height: 36px;
    padding-left: 15px;
    font-size: 13px;
    letter-spacing: 1.2px;
}

.filter-flat .dropdown ul a:hover {
    text-decoration: none;
    color: #e86d72 !important;
    outline: none;
}

.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.filter-search .btn, .filter-search .dropdown {
    width: 100%;
    background-color: #efefef;
    color: #575757;
    border: none;
    box-shadow: 0px 1px 1px 1px #cecece;
    border-radius: 0px;
}

.filter-search .form-control {
    border-radius: 0 !important;
    text-align: center;
}

.btn-reset {
    background-color: #e86d72;
}

.filter-search .btn1 {
    width: 100%;
    border: none;
    box-shadow: 0px 1px 1px 1px #cecece;
    border-radius: 0px;
    background-color: #ef7b11;
    color: #fff;
    height: 36px;
}

.flat-filter h1 {
    font-size: 36px;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 0px;
    line-height: 55px;
}

/*============ Flat Details CSS ============*/

.carousel-inner {
    height: auto;
}

.overview img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    height: .75rem;
    width: auto;
    margin-bottom: 2px;
    margin-right: 10px;
}

.overview .btn1 {
    width: 100%;
    background-color: #e8c0c0;
    border: none;
    height: 46px;
    color: #343434;
    letter-spacing: 1.4px;
    outline: none;
}

.overview .btn1 a:hover {
    outline: none;
    border: none;
}

.overview .btn:hover {
    background: none;
    outline: none;
    border: none;
}

.overview .btn:focus {
    border: none;
    outline: none;
}

.filter-flat-details {
    padding: 60px 0px;
}

.filter-flat-details ul {
    padding-left: 0px;
    list-style: none;
}

.filter-flat-details ul li span {
    line-height: 32px;
}

.flat__card__wrapper {
    border-radius: 2.14rem;
    background-color: #fbf1f1;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4.5rem;
    font-family: Trade Gothic Next LT W01 Cond, Helvetica, sans-serif;
    color: #000;
    min-height: 650px;
}

.flat__card__icon--left {
    left: 1rem;
}

.flat__card__icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
}

.flat__card__icon--top {
    top: 1.2rem;
}

.flat__card__icon--right {
    right: 1rem;
}

.flat__card__icon--top {
    top: 1.2rem;
}

.flat__card__icon--left {
    left: 1rem;
}

.flat__card__icon--bottom {
    bottom: 1.2rem;
}

.flat__card__icon--bottom {
    bottom: 1.2rem;
}

.flat__card__icon--right {
    right: 1rem;
}

.flat__card__line--vertical--left {
    left: 2rem;
}

.flat__card__line--vertical {
    top: 4.2rem;
    right: 4.2rem;
    height: calc(100% - 8.4rem);
    width: 1px;
}

.flat__card__line {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
}

.flat__card__line--vertical--right {
    right: 2rem;
}

.flat__card__line--horizontal--top {
    top: 2rem;
}

.flat__card__line--horizontal {
    left: 4rem;
    right: 4rem;
    width: calc(100% - 8rem);
    height: 1px;
}

.flat__card__line--horizontal--bottom {
    bottom: 2rem;
}

.flat__card__header {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
}

.flat__card__headline {
    font-family: Trade Gothic Next LT W01 Bd Cn, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: .5rem 0;
}

.flat__card__overview {
    margin: 1rem 0;
    height: auto;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.flat__card__table__row {
    width: 100%;
    border-bottom: 1px solid #000;
    position: relative;
}

.flat__card__table__row .cell--right {
    float: right;
}

.flat__card__table__row--fat {
    font-family: Trade Gothic Next LT W01 Bd Cn, Helvetica, sans-serif;
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
    font-weight: bold;
}

.flat__floorplan img {
    width: 100%;
}

.second-value {
    padding-right: 20px;
}

.top_msquare_row {
    width: 100%;
    border-bottom: 1px solid #000;
}

.top_msquare_row p {
    text-align: right;
    margin-bottom: 5px;
}

/*================= Download PDF Page CSS ==========*/
.download-pdf {
    padding: 140px 0px 80px 0px;
    background-color: #f7f7f7;
}

.download-pdf h2 {
    text-align: center;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-top: 40px;
}

.download-pdf h3 {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.download-pdf img {
    text-align: center;
    width: 100%;
    opacity: 0.65;
    box-shadow: 0px 3px 9px 3px #aaa;
}

.download-pdf img:hover {
    opacity: 1;
}

/*=========== Side navi add css ========*/
.side-navi-data h3 {
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1.3px;
    margin-top: -15px;
}

.side-navi-data form {
    width: 90% !important;
}

.side-navi-data .form-control {
    font-size: 14px;
    height: 30px;
}

.side-navi-data .form-group {
    margin-bottom: 13px;
}

.side-navi-data .form-group a {
    color: #e4666b;
}

.side-navi-data .form-group a:hover {
    text-decoration: underline;
}

.side-navi-data .btn {
    width: 100%;
    background-color: #e86d72;
    border: 1px solid #e86d72;
}

.side-navi-data textarea.form-control {
    height: 80px;
}

/*================Breadcrum Css==================*/
.footer-breadcrumb {
    background: #333;
}
ul.breadcrumbs {
    margin: 0;
    padding: 0px;
    font-size: 0px;
    line-height: 0px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 40px;
}
ul.breadcrumbs li {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    transition: 0.3s ease;
}
ul.breadcrumbs li:hover:before {
    border-left: 10px solid #333;
}
ul.breadcrumbs li:hover a {
    color: #fff;
}
ul.breadcrumbs li:before {
    content: "";
    position: absolute;
    right: -9px;
    top: -1px;
    z-index: 20;
    border-left: 9px solid #333;
    border-top: 22px solid transparent;
    border-bottom: 19px solid transparent;
    transition: 0.3s ease;
}
ul.breadcrumbs li:after {
    content: "";
    position: absolute;
    right: -10px;
    top: -1px;
    z-index: 10;
    border-left: 10px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}
ul.breadcrumbs li.active a {
    color: #000;
    background: #fbf1f1;
}
ul.breadcrumbs li.first {
    border-left: none;
}
ul.breadcrumbs li.first a {
    font-size: 16px;
    padding-left: 20px;
    border-radius: 5px 0px 0px 5px;
}
ul.breadcrumbs li.last:before {
  content: "";
  position: absolute;
  right: -9px;
  top: -1px;
  z-index: 20;
  border-left: 9px solid #fbf1f1;
  border-top: 22px solid transparent;
  border-bottom: 19px solid transparent;
  transition: 0.3s ease;
}
ul.breadcrumbs li.last:after {
    display: none;
}
ul.breadcrumbs li.last a {
    padding-right: 20px;
    border-radius: 0;
}

ul.breadcrumbs li a {
    display: block;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    padding: 0px 20px 0px 25px;
    text-decoration: none;
    background: #333;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s ease;
}



/*====== Added changes =====*/
.contact-no {
    right: 125px;
    position: absolute;
    top: 43px;
    font-weight: bold;
    font-size: 16px;
}

.contact-no i {
    font-size: 19px;
    color: #fff;
    padding-right: 2px;
    padding-top: 7px;
}

.app-nav {
    float: right;
    padding-right: 315px;
}

/*========Impressum Page Css*/

.impressum {
    padding: 140px 0px 55px 0px;
    background-color: #f7f7f7;
}

.impressum h2 {
    text-align: center;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}

.impressum h3 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.imprint a {
    text-decoration: none;
    color: rgb(239, 93, 98);
}

.imprint a:hover {
    text-decoration: underline;
}

/*========Privacy Page Css*/

.privacy {
    padding: 140px 0px 55px 0px;
    background-color: #f7f7f7;
}

.privacy h2 {
    text-align: center;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}

.privacy h3 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.policy a {
    text-decoration: none;
    color: rgb(239, 93, 98);
}

.policy a:hover {
    text-decoration: underline;
}

/*======== scroll Css =======*/
.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 8px 11px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 1;
}

.scroll:hover {
    background: none;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll:hover .fa {
    padding-top: -10px;
}

.scroll .fa {
    font-size: 30px;
    margin-top: -5px;
    margin-left: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    color: #ffffff;
}

.slider .owl-carousel {
    z-index: 0;
}

.location__crooked {
    font-size: 6rem;
    font-family: Businessland W00 Regular;
    line-height: 6rem;
    text-transform: uppercase;
    margin: 3rem 0;
    display: block;
    text-align: center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.location__container--mid img {
    position: absolute;
    right: 0;
    top: 685px;
}

.uk-button-primary, .uk-button-blitz-rot {
    background: #ef7b11;
    color: #fff;
    padding: 6px 11px;
    border-radius: 5px;
}

.uk-button-pos-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #fff;
    width: 30px;
    text-align: center;
}

/*================ Media All Css==================*/

@media (max-width: 992px) {
    .app-nav {
        float: right;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .navbar-custom-nav {
        margin-top: 90px;
    }

    .navbar-collapse {
        position: relative;
    }

    .language-switcher {
    }

    .app-header .logo {
        display: block;
        width: 25%;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 9;
        padding: 1vw;
        right: 0;
        margin: 0px auto;
    }

    .showcase-slider:before {
        display: none;
    }

    .slide__square, .carousel-caption {
        display: none;
    }

    .rooftop-header h1 {
        font-size: 34px;
        letter-spacing: 11px;
    }

    .concierge-image img {
        display: block !important;
        padding: 0px 0px;
    }

    /* .rooftop_image img {
        display: none;
        } */

        .rooftop-header h1 {
            font-size: 43px;
            letter-spacing: 20px;
        }

        .rooftop-header-conc h1 {
            font-size: 32px;
            letter-spacing: 10px;
            line-height: 44px;
        }

        .rooftop-header-conc h1 {
            padding: 0px;
            text-align: left;
            margin-top: 30px;
            margin-bottom: 0px;
        }

        .contact-no {
            display: none;
        }

        .app-nav {
            padding-right: 15px !important;
        }

        .app-nav ul li {
            text-align: center;
            border-bottom: 1px solid #efefef;
        }

        .logo-wrapper {
            text-align: center;
        }
    }

    @media (max-width: 768px) {

        .intro-floating-image {
            display: none;

        }


        .intro-floating-image img {
            width: 100%;
            margin-bottom: 35px;
        }

        .app-header .logo {
            width: 30%;
        }

        .featured-text {
            background: none !important;
        }

        .featured-text:before {
            width: 38vw;
        }

        .app-features {
            padding-bottom: 0px;
        }

        .intro-descriptionp {
            margin-bottom: 30px;
        }

        .banner-content-h {
            margin-top: 130px;
            height: auto;
            position: static;
        }

        .featured-text-information {
            text-align: left;
            padding: 10px;
        }

        .featured-text-information .title-heading {
            text-align: left;
            font-size: 2rem;
            line-height: 29.5px;
        }

        .banner-content-h p {
            font-size: 1rem;
        }

        .featured-text-information:before {
            left: 10px;
            right: auto;
            top: -25px;
        }

        .hidden-img-b {
            position: absolute;
            right: 0;
            width: 15vw;
            display: block;
        }

        .featured-text {
            height: max-content;
            margin-top: 20px;
        }

        .lage-header h1 {
            font-size: 36px;
            letter-spacing: 8px;
            font-weight: bold;
            margin-bottom: 35px;
            text-align: left;
            padding-left: 0px;
        }

        .d-none, .lage-header {
            display: none;
        }

        .location__crooked {
            font-size: 30px;
            font-family: Businessland W00 Regular;
            line-height: 40px;
            font-weight: bold;
            text-align: left;
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            margin-bottom: 0px;
        }

        .app-features-bottom-image img {
            margin: 0px auto;
            display: block;
        }

        .concierge-image img, .app-features-bottom-image-heart img {
            display: none !important;
        }

        .featured-text-information {
            margin-top: 0px;
        }

        .lage-content {
            padding: 40px 40px;
        }

        .kontact-form {
            margin-top: 5px;
            padding: 60px 0px 0px 0px;
        }

        .kontact-form h1 {
            margin-top: -25px;
            font-size: 25px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 5px;
            margin-bottom: 40px;
            padding-top: 40px;
        }

        .contact-form form {
            padding: 0 14% 12%;
        }

        .kontact-form {
            margin-top: 5px;
            padding: 165px 0px 0px 0px;
        }

        .broscure-pdf {
            margin-bottom: 30px;
        }

        #Cadman {
            margin-top: 90px;
        }

    }

    @media (max-width: 599px) {

        .showcase-slider-caption {
            display: none;
        }

        .intro:before {
            display: none;
        }

        .feature-bottom-section:before {
            display: none;
        }

        .featured-text-information, .intro, .app-features, .section__text {
            padding-left: 40px;
            padding-right: 40px;
        }

        .intro {
            padding-top: 25px;
        }

        .featured-text-information .title-heading {
            font-size: 35px;
            line-height: 42px;
            letter-spacing: 6px;
        }

        .common-heading .common-heading-title {
            font-size: 28px;
        }

        .brand-img img {
            width: 80%;
        }

        .footer-intro h4 {
            margin-bottom: 25px;
            letter-spacing: 5px;
            word-spacing: 4px;
        }

        .owl-less-height {
            height: 200px;
        }

        .carousel-indicators {
            bottom: 176px;
        }

        .side-navi-item.item1 {
            top: 120px !important;
        }
    }

    @media (max-width: 480px) {
        .owl-rooftop .carousel-inner {
            height: 243px;
        }

        .carousel-indicators {
            bottom: 25px;
        }

        .rooftop-header h1 {
            margin-top: 0px;
            font-size: 34px;
            letter-spacing: 11px;
            line-height: 44px;
        }
    }

    .contact-no p a {
        text-decoration: none;
    }

    /*=====404 CSS======*/

    .error-page {
        padding: 140px 0px 80px 0px;
        background-color: #f7f7f7;
        font-family: Businessland W00 Regular;
        text-align: center;
    }

    .error-page h1 {
        font-size: 6em;
        margin: 0;
    }

    .error-page p {
        font-size: 3em;
    }

    .error-page a {
        background: #e4666b;
        color: #fff;
        padding: 6px 11px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.5em;
    }

    .error-page a:hover {
        color: #000;
    }


    /*Form Policy Checklist*/

    span.wpcf7-list-item {
        margin: 0;
    }

    /*To-top Scroll*/
    .scroll.icon img {
        width: 65px;
        height: auto;
    }

    /*Border radius of front page*/

    .intro-floating-image img {
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        border-radius: 10%;
    }

    #intro-carousel-wrapper .carousel-inner .carousel-item img {
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        border-radius: 10%;
    }

    /*.showcase-slider-item figure img {*/
        /*-webkit-border-radius: 8%;*/
        /*-moz-border-radius: 8%;*/
        /*border-radius: 8%;*/
        /*}*/

        .filter-flat .form-check-input {
            margin-top: 0.5rem;
        }

        /* 7 JAN CHANGES */
        #map {
            height: 450px;
            width: 100%;
        }

        .marker {
            display: block;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            padding: 0;
        }

        /* ENDED CHANGES */

        /* 22 JAN CHANGES */

        .custom-breadcrumb-heading-title {
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 5px;
            word-spacing: 15px;
            margin-bottom: 15px;
        }

        #cd-google-map {
            z-index: 9;
        }

        @media (min-width: 768px) and (max-width: 992px) {
            .featured-text-information {
                position: relative;
                text-align: right;
                padding: 21px 0px 10px 15px;
                margin-top: 5px;
                margin-bottom: 10px;
            }

            .banner-content-h {
                margin-top: 40px;
            }

            .featured-text-information p {
                width: 97%;
            }

            .featured-text {
                height: 360px;
                padding-top: 55px;
            }

            .featured-text-information .title-heading {
                font-size: 42px;
                line-height: 44px;
            }
        }

        @media (max-width: 768px) {
            .location__list .list__img {
                display: none;
            }

            .featured-text-information p {
                width: 92%;
            }
        }


        /*23 jan changes*/

        .common-heading .common-heading-title {
            font-family: "Trade Gothic Next LT W01 Cond", "Helvetica", sans-serif !important;
            word-spacing: 7px;
            letter-spacing: 1.2px;
        }

        .owl-rooftop .carousel-inner {
            height: 90vh !important;
        }

        .next-section {
            text-align: center;
            margin-top: -106px;
            z-index: 1;
            position: absolute;
            left: 48.3%;
        }

        .next-section i {
            font-size: 26px;
            background: #4e4e4e;
            color: #fff;
            padding: 12px;
            border-radius: 50%;
        }


        /*Pulsating*/

        .container-pcircle {
            width: 200px;
            height: 100%;
            margin: 0 auto 0;
            -webkit-perspective: 1000;
            -webkit-backface-visibility: hidden;
            padding-bottom: 70px;
            /*background: #fff;*/
        }

        .pulse-button {
            position: relative;
            top: 50%;
            left: 50%;
            margin-left: -30px;
            margin-top: -130px;
            display: block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 24px;
            font-weight: light;
            font-family: 'Trebuchet MS', sans-serif;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: -1px;
            color: white;
            border: 1px solid #fff;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.3);
            cursor: pointer;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
            -webkit-animation: pulse 1.5s infinite;
        }

        .pulse-button i {
            margin-top: 0px;
        }

        @-webkit-keyframes pulse {
            0% {
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }
            70% {
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
                box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
            }
            100% {
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
                box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
            }
        }

        .filter-table img.gifLoader {
            margin: 0 auto;
            display: block;
        }

        /*Contact Page Spacing*/

        .contact-form .rooftop-header-conc h1 {
            letter-spacing: 7px;
        }

        /*Pdf Download*/

        form .wpcf7-validation-errors, form .wpcf7-mail-sent-ok {
            margin-top: 50px;
        }

        @media (max-width: 1200px) {
            .app-nav {
                float: right;
                padding-right: 125px;
            }

            .contact-no {
                display: none;
            }
        }

        @media (min-width: 992px) and (max-width: 1024px) {
            .featured-text {
                position: relative;
                height: 580px;
            }

            .featured-text-information p {
                width: 100%;
                text-align: left;
            }

            .featured-text-information {
                padding: 0px 25px 26px 0px;
            }
        }

        @media (max-width: 768px) {
            .owl-rooftop .carousel-inner {
                height: auto !important;
            }

            .container-pcircle {
                padding-bottom: 0px !important;
            }

            .lage-content {
                padding-top: 0px;
            }

            .rooftop-header {
                padding-top: 100px;
            }

            .filter-flat {
                padding-top: 100px !important;
            }
            .rooftop_image img {
                display: none;
            }
        }
        @media (max-width: 1200px) and (min-width: 992px){
            .owl-rooftop .carousel-inner {
                height: auto!important;
            }
        }

        .scroll {
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
            animation: pulse 2s infinite;
        }

        .scroll:hover {
            animation: none;
        }

        .custom-html-widget ul li a:hover {
            color: #000;
        }

        .other-pagesl{
            margin-bottom: 60px;
            margin-top: 20px;
        }
        .image-first img{
            width: 100%;
            position: relative;
            border-radius: 6px;
            opacity: 0.6;
        }
        .image-first h3{
            position: absolute;
            top: 40%;
            text-align: center;
            width: 100%;
            color: #fff;
            font-size: 22px;
            text-transform: uppercase;
        }
        .image-first {
            background-color: #000000;
            border-radius: 6px;
            margin-bottom: 15px;
        }

        .privacy-p{
            text-align: center;
        }
        .center-butn{
            margin-right: -20px;
        }






        /* ========== 2019-02-5 ========*/
        .app-features-bottom-image {
            text-align: center;
        }
        .button_class_new{
            width: 50%;
            float: left;
        }
        .button_class_new a:hover{
            color: #efefef;
            text-decoration: none;
            opacity: 0.8;
        }
        .intro-description{
            padding-right: 20px;
        }
        @media (max-width: 992px) {
            .button_class_new {
                max-width: 100% !important;
                text-align: center;
                margin-top: 16px;
                width: 100%;
            }
            .intro-description{
                padding-right: 0px;
            }
        }

        @media (max-width: 420px) {
            .kontact-form h1 {
                font-size: 20px;
            }
        }

        /*Tooltip*/

        .tooltips
        {
          text-decoration:none;
          position:relative;
      }


      .tooltips span
      {
          display:none;
          -moz-border-radius:6px;
          -webkit-border-radius:6px;
          border-radius:6px;
          color:black;
          background:white;
      }


      .tooltips span img
      {
          float:left;
          margin:0px 8px 8px 0;
          width: 100%;
      }


      .tooltips.available:hover span
      {
          display:block;
          position:absolute;
          z-index:1000;
          width:auto;
          max-width:320px;
          min-height:128px;
          border:1px solid black;
          margin-top:12px;
          margin-left:32px;
          overflow:hidden;
          padding:8px;
      }

      /*Term of use*/

      .term-of-use {
        padding: 20px;
    }

/*2019/02/15*/

              @media (min-width: 768px) and (max-width: 992px) {
                .navbar-custom-nav .dropdown-item:before {
                    left: 41%;
                }
            }
            @media (min-width: 590px) and (max-width: 768px) {
                .navbar-custom-nav .dropdown-item:before {
                    left: 39%;
                }
            }
            @media (min-width: 421px) and (max-width: 590px) {
                .navbar-custom-nav .dropdown-item:before {
                    left: 33%;
                }
            }
            @media (max-width: 420px) {
                .navbar-custom-nav .dropdown-item:before {
                    left: 28%;
                }
            }

@media (max-width: 1200px) {
    .button_class_new {
        max-width: 100% !important;
        text-align: center;
        margin-top: 16px;
        width: 100%;
    }

@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-light .navbar-custom-nav .nav-link{
        font-size: 13px;
    }
    .featured-text-information .title-heading{
        font-size: 60px;
        line-height: 70px;
        padding-top: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .navbar-light .navbar-custom-nav .nav-link{
        font-size: 14px;
    }
}
